@charset "utf-8";

.top-bar-contents{
  display: flex;
  height: 8vh;
}

.site-name{
  height: auto;
  font-weight: bold;
  font-size: 2em;
  display: flex;
  align-items: center;
  padding-left: 5vw;
}

.top-bar-picture{
  height: 100%;
  margin-left: 50px;
  border-radius: 20px;
}

.title{
  font-size: 1.5em;
}
.field{
  display: flex;
}

.image-field{
  width: 80%;
}


.comment-field{
  margin-left: 100px;
  width: 20%;
}

.image{
  position: relative;
}

.image p{
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 2em;
  margin-left: 10px;
}

.work{
  width: 100%;
  height: 800px;
  border-radius: 20px;
}

.comment{
  display: flex;
}

.comment-label{
  display: flex;
  height: auto;
  padding-right: 10px;

}

.comment-submit{
  background-color: white;
  width: 200px;
  height: auto;
  word-wrap: break-word;
}


@media (max-width: 1024px){
  .field{
    display: block;
  }

  .image-field{
    width: auto;
  }

  .comment-field{
    width: auto;
    margin-left: 0;
    padding: 30px;
  }
 
  .comment{
    display: flex;
  }

  .comment-label{
    padding-right: 10px;
  }
  
  .comment-submit{
    width: auto;
    word-wrap: break-word;
  }
}


}